# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml
htmlcov
.env
.venv
.ruff_cache


# Home Assistant configuration
config/*
!config/configuration.yaml
**/authcache
**/exports

